@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar-track {
  background: #f9fafb; /* Track background color */
}

/* Style the scrollbar handle */
::-webkit-scrollbar-thumb {
  background: #e5e7eb; /* Handle color */
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d1d5db; /* Handle color on hover */
}

.dark-scrollbar::-webkit-scrollbar-thumb {
  background: #c7cdd2; /* Handle color */
  border-radius: 10px;
}

.dark-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #989a9c; /* Handle color on hover */
}

::-webkit-scrollbar {
  width: 8px; /* Vertical scrollbar width */
  height: 8px; /* Horizontal scrollbar height */
}

div.container {
  overflow: auto;
  position: relative;
}

div.container > div:nth-child(2) {
  height: calc(100% - 46px);
  padding: 20px;
  padding-top: 35px;
  background: #fff;
  border-radius: 8px;
  box-shadow: #0000 0 0, #0000 0 0, #0000001a 0 4px 6px -1px, #0000001a 0 2px 4px -2px;  
}
